<meta charset="UTF-8">
<title>Hello</title>

<link rel="stylesheet" href="/styles/style.css">
<link rel="icon" type="image/x-icon" href="/images/logo.png">
<script type="text/javascript" src="/scripts/script.js" defer></script>



