<meta charset="UTF-8">
<title>EJS Is Fun</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="/styles/styles.css">
<script src="https://cdn.tailwindcss.com"></script>
<style>
  body { padding-top:50px; }
</style>