<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<body class="">
<header>
  <%- include('../partials/header'); %>
</header>

<main>
    <form action="/" method="post" class="flex flex-col w-96 ">

      <label for="pictureUser">
        <img src="/images/profile.png" alt="user" class="img">
      </label>
      <input id="pictureUser" type="file" name="pictureUser" class="pictureInput">

      <label for="name">Naam</label>
      <input name="name" type="text" class="border border-black border-solid">
      
      <label for="age">Leeftijd</label>
      <input name="age" type="text" class="border border-black border-solid">

      <label for="description">Over jou</label>
      <input name="description" type="text" class="border border-black border-solid">

      <div>
        <h3>Waar zoek je naar</h3>
        <input id="cleaner" type="radio">
        <label for="cleaner">Schoonmaker</label>

        <label for=""></label>
        <input type="radio">

        <label for=""></label>
        <input type="radio">
      </div>
      

      <button type="submit" class="bg-black text-white text-left mr-auto px-3 py-1 mt-2">submit</button> 
    </form>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
